/*red/red-orange*/
/*#e24161*/
/*#CA0000
#E10000
#b82419
#e20147
#ed1c24(orange-red)
#d02350(deep red)
*/

/*Blue*/
/*#002366 royal blue*/
/*#191970 midnightblue*/
/*#001f73*/
/*#3b427e*/
/*#2b36b1*/
/*#1D169d*/

/*Green*/
/*#1f8c38
#18d26e*/

/*indigo*/
/*#4B0082*/

html {
  scroll-behavior: smooth;
}

:root{
	--color: #1806b9;
	--deep-color: #d02350;
	--deep-red-hover: #f71c4b;
	--blue: #554bef;
	--blue-hover: #1d0ff9;
    --blue-different: #1806b9;
}

*:hover,*:active, *:focus{
	outline: none !important;
}

*:active{
	background-color: none;
}

body{
	margin: 0;
	padding: 0;
	font-family: open-sans, sans-serif, poppins, "Roboto";
}

ol, ul{
	margin: 0 !important;
}

h2{
	color: #2c4964;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
    padding-bottom: 1rem;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5846f9;
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



header{
    width: 100%;
    background: transparent;
    position: fixed;
    box-shadow: 0 0 20px 0px rgba(24, 6, 185, 0.05);
    transition: 0.5s ease-in-out;
}

#header.header-scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 4px 0;
}

.header{
	padding: 0 2rem;
	height: 70px;
}

.header-contact{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	background-color: white;
}

header div{
	display: flex;
	justify-content: space-between;
}

nav {
	display: flex;
	align-items: center;
}

.logo a{
	color: var(--color);
}

nav > .options > ul > li{
	list-style: none;
	display: inline-block;
	position: relative;
	/*transition: 0.3s;*/
}

nav > .options > ul > li > a {
	padding: 28px 1rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	height: 100%;
	color: white;
	font-size: 12px;
	transition: 0.3s;
}

nav > .options > ul > li:hover{
	color: var(--color);
}

nav > .options > ul > li:hover > a{
	color: var(--color);
}

nav > .options > ul > li > a > .arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 4px;
    margin-left: 7px;
    transition: 0.3s
}

nav > .options > ul > li:hover > a > .arrow{
	border: solid var(--color);
    border-width: 0 2px 2px 0;
}

nav > .options > ul > li:hover .submenu{
	/*transform: scaleY(1);*/
} 

.submenu{
	top: 72px;
	padding: 0px;
	margin: 0;
	border-top: none;
	display: none;
	/*transform: scaleY(0);*/
}

.submenu, .sub-submenu {
	width: 15rem;
	background-color: white;
	position: absolute;
	/*transition: 0.5s;
	transform-origin: top;*/
	box-shadow: 0px 0px 14px 0px rgba(75, 0, 130, 0.3);
	border-radius: 0 0 4px 4px;
}
.submenu li:first-child, .sub-submenu li:first-child{
	border: solid var(--color);
    border-width: 3px 0 0 0;
} 

.submenu > li {
	display: block;
	list-style: none;
	position: relative;
}

.submenu li a{
	display: block;
	font-size: 13px;
	font-weight: 600;
	text-decoration: none;
	color: black;
	padding: 12px 1rem;
	transition: 0.3s;
}

.submenu li:last-child{
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}

.submenu li a:hover{
	color: white;
	background-color: var(--color);
	text-decoration: none;
}

.submenu > li > a > .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 0px;
    margin-left: 5px;
    transition: 0.3s
}

.submenu > li > a:hover > .arrow{
	border: solid white;
    border-width: 0 2px 2px 0;
}


.submenu li:hover .sub-submenu{
	transform: scaleX(1);
}

.submenu li:first-child .sub-submenu{
	top: -3px;
}

.sub-submenu {
	padding: 0;
	margin: 0;
	transition: 0.5s;
	transform: scaleX(0);
	transform-origin: left;
	top: 0;
	left: 15.1rem;
	background: white;
}

.sub-submenu li {
	list-style: none;
}

 .sub-submenu li a{
	display: block;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	color: black;
	padding: 10px 1rem;
	transition: 0.3s; 	
 }

 .sub-submenu li a:hover{
 	text-decoration: none;
 }

.sub-submenu ul{
	position: absolute;
	right: 0;

}

.contact-us{
	display: flex;
	align-items: center;
}

.contact-us a {
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    background-color: var(--color);
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.contact-us a:hover{
	background-color: var(--blue-hover);
}


/*image slider style*/
#hero-slider .carousel-item{
	height: 100vh;
}

#hero-slider .banner{
	background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

#hero-slider .banner:before{
	position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.2;
}

#hero-slider .carousel-content{
	width: 100%;
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 0 20%;
}

#hero-slider .carousel-content h3{
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

#hero-slider .carousel-content p {
    font-size: 20px;
}

#hero-slider .btn-learn-more {
    background-color: var(--color);
    color: white;
    padding: 0.5rem 2.3rem;
    border-radius: 20px !important;
    transition: 0.5s !important;
    font-weight: 500;
    margin-top: 1.5rem;
}

#hero-slider .btn-learn-more:hover{
	background-color: white;
	color: var(--color);
}

#hero-slider .arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 13px;
}

#hero-slider a.carousel-control-prev{
	background-color: #ffffff33 !important;
    height: 55px;
    width: 54px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100 !imporatnt;
    transition: 0.3s;
    margin-left: 2%;
}

#hero-slider a.carousel-control-prev:hover{
	background-color: rgba(255, 255, 255, 0.2) !important;
}

#hero-slider a.carousel-control-prev .left{
	margin-left: 13px;
}

#hero-slider a.carousel-control-next{
	background-color: #ffffff33  !important;
    height: 55px;
    width: 54px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    z-index: 100 !imporatnt;
    transition: 0.3s;
}

#hero-slider a.carousel-control-next:hover{
	background-color: rgba(255, 255, 255, 0.2) !important;
}



#hero-slider a.carousel-control-next:focus, #hero-slider a.carousel-control-prev:focus{
	background-color: #ffffff33 !important;
}


#hero-slider a.carousel-control-next .right{
	margin-right: 13px;
}

.carousel-indicators {
    bottom: 15px;
}

#hero-slider .carousel-indicators li{
	width: 11px;
	height: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

/*about us section*/
#about-us{
	position: relative;
	/* Set a specific height */

	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 4rem 5rem 3rem 5rem;
}

#about-us::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, 0.9);
	z-index: 9;
}

#about-us p{
	color: #50525f;
}

#about-us .container-fluid{
	z-index: 10;
	position: relative;
}

.about-us-top {
	text-align: center;
    padding-bottom: 2rem;
    background-color: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.about-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(217, 217, 222, 0.9);
}

.about-card .img {
    position: relative;
    margin-bottom: 2.5rem;
}

.about-card .img img{
	border-radius: 5px 5px 0 0;
}

.about-card-icon {
    width: 64px;
    height: 64px;
    background: var(--color);
    border-radius: 50%;
    border: 4px solid white;
    text-align: center;
    position: absolute;
    left: calc(50% - 32px);
    bottom: -30px;
    transition: 0.3s;
}

.about-card-icon i{
	font-size: 40px;
	line-height: 1;
	color: white;
	transition: 0.3s;
	position: absolute;
	top: 8px;
	left: 9px;
}

.about-card-icon img{
	width: 42px;
    height: 42px;
    position: absolute;
    top: 4px;
    left: 7px;
}

.about-card-icon.plan img {
    width: 42px;
    height: 32px;
    position: absolute;
    top: 10px;
}

.about-card h4 {
    text-align: center;
    color: #292929;
}

.about-card p{
	padding: 0 25px 25px 25px;
}




/*service section*/
#services{
	padding: 3rem 5rem;
	background-color: #f7f7f7;
}


#services .services-top{
	padding-bottom: 2rem;
    /*background-color: white;*/
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-align: center;
    /*box-shadow: 0 5px 15px 0 rgb(217, 217, 222, 0.7);*/
}

#services .services-tabs{
	padding: 0;
}

#services ul.nav-tabs{
	border: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    /* border-color: #e9ecef #e9ecef #dee2e6; */
    border-color: transparent;
}

#services .nav{
	justify-content: center;
}

#services .nav-item{
	width: 33.3333333%;
}

#services .nav-item .nav-link{
	text-align: center;
	color: #5d5d5d;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    transition: 0.3s;
    padding: 13px 0;
    border: 0;
	border-bottom: 3px solid transparent;
}

#services .nav-link.active {
    color: var(--color);
    border: transparent;
    border-bottom: 3px solid var(--color);
}

#services .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	background-color: transparent;
}


#services #servicesTabContent .col-lg-4, #services #servicesTabContent
.col-md-6, #services #servicesTabContent .col-sm-12{ 
    padding-bottom: 15px;
}


#services .tab-pane{
    /*box-shadow: 0 5px 15px 0 rgb(217, 217, 222, 0.9);*/
    margin-top: 1rem;
}

#services .tab-pane .services-link{
    display: block;
	height: 100%;
	width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.05);
	text-decoration: none;
	transition: 0.5s;
}

#services .tab-pane .services-link:hover{
	background-color: white;
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

#services .tab-pane .services-link h6 {
    color: #48484a;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

#services #servicesTabContent .service-card{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#services .tab-pane .top-section {
    padding-top: 1rem;
    padding-bottom: 2rem;
   /* margin-bottom: 2rem;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

#servicesTabContent .top-section img {
    height: 5rem;
}

#services .tab-pane .bottom-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#services .tab-pane .bottom-section p {
    font-size: 13.5px;
    color: #535c65;
}

/*	cliewnt section*/

#clients{
	padding: 3rem 5rem;
}

/*#clients .heading-client*/ h2 {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

/*#clients .heading-client*/ h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--color);
    bottom: 0;
    left: calc(50% - 25px);
}

#clients .content-client{
	position: relative;
	padding: 0 5rem;
}

#clients .owl-item{
	display: flex;
    justify-content: center;
	padding: 10px 0;
}

#clients .client-item{
	text-align: center;
}

#clients .owl-nav{
	margin-left: 2%;
}

#clients .owl-carousel .owl-nav button.owl-prev{
	background-color: #b7b7b7cc !important;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 100 !imporatnt;
    transition: 0.3s;
}

#clients .owl-carousel .owl-nav button.owl-prev:hover{
	background-color: #9b9b9c !important;
}

#clients .owl-carousel .owl-nav button.owl-prev .left{
	margin-top: 6px;
	margin-left: 6px;
}

#clients .owl-carousel .owl-nav button.owl-next{
	background-color: #b7b7b7cc !important;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: 0%;
    transform: translateY(-50%);
    z-index: 100 !imporatnt;
    transition: 0.3s;
}

#clients .owl-carousel .owl-nav button.owl-next:hover{
	background-color: #9b9b9c !important;
}

#clients .owl-carousel .owl-nav button.owl-next .right{
	margin-top: 6px;
	margin-right: 6px;
}

.owl-theme .owl-dots .owl-dot span{
	width: 12px;
	height: 12px;
}

.owl-theme .owl-dots button.active span{
	background-color: var(--color) !important;
}

#clients .arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 9px;
}


/*contact us section*/
#contact{
	background-color: #f7f7f7;
	padding: 3rem 5rem;
}

#contact .contact-content{
	margin-top: 10px;
}

#contact .row{
	background-color: #fff;
	padding: 2rem 0;
	border-radius: 5px;
	box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.05);
}

#contact input, #contact-page input{
	outline: none !important;
	border-radius: 3px !important;
	box-shadow: none !important;
    padding: 21px 13px;
}

#contact textarea, #contact-page textarea{
	outline: none !important;
	border-radius: 3px !important;
	box-shadow: none !important;
    padding: 7px 13px;
}

#contact input:focus, #contact textarea:focus,
#contact-page input:focus, #contact-page textarea:focus
{
	border: 1px solid var(--color);
}

#contact .contactBtn, #contact-page .contactBtn {
    border: none;
    padding: 8px 15px;
    background-color: var(--color);
    color: white;
    transition: 0.5s;
}

#contact .contactBtn:hover, #contact-page .contactBtn:hover {
    background-color: var(--blue-hover);
}

/*footer design*/
#footer .footer-top {
    padding: 4rem 5rem;
    background-color: #1e1e1e;
}

#footer .footer-top .col-md-3, #footer .footer-top .col-md-4, #footer .footer-top .col-md-2, #footer  .footer-top .col-sm-6 {
    display: flex;
    justify-content: center;
}

#footer .footer-top div#contacts-footer p {
    color: #f1e5e5;
}

#footer .footer-top div#contacts-footer strong {
    font-weight: 600;
    color: white;
}

#footer .platforms-footer{
	justify-content: left;
}

#footer .footer-top{
	font-weight: 300;
}

#footer .footer-top h4{
	color: white;
	margin-bottom: 20px;
	font-size: 19px;
}

div#contacts-footer h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 17px;
    margin-top: 0;
    padding-top: 0;
}

#footer .footer-top a{
	display: block;
	text-decoration: none;
	font-size: 13.5px;
	font-weight: 300;
    color: #ffffff99;
    margin-bottom: 17px;
    transition: 0.4s;
}

#footer .footer-top a:last-child{
	margin-bottom: 0;
}

#footer .footer-top a:hover{
	color: white;
}

#contacts-footer p, #contacts-footer a {
    font-size: 15px;
    color: #ffffff99;
}

#footer .footer-bottom{
	background-color: #111;
    padding: 1rem 5rem;
}

.footer-bottom .copyright{
	display: flex;
    align-items: center;
    text-align: center;
    font-size: 13.5px;
    font-weight: 300;
}

.footer-bottom #copyright{
	display: flex;
    align-items: center;
    text-align: center;
	color: rgba(255, 255, 255, 0.8);
}

#footer #social-links {
    display: flex;
    justify-content: flex-end;
}

#footer .footer-bottom a {    
	display: inline-block;
    background-color: rgb(255, 255, 255, 0.08);
    width: 37px;
    height: 34px;
    border-radius: 3px;
    margin-right: 6px;
    text-align: center;
    transition: 0.3s;
}

#footer .footer-bottom a i{ 
    margin-top: 9px;
    font-size: 15px;
}

#footer .footer-bottom a i.fa-facebook-f{
	color: #3b5999;
}

#footer .footer-bottom a i.fa-twitter{
	color: #55acee;
}

#footer .footer-bottom a i.fa-linkedin-in{
	color: #0077B5;
}

#footer .footer-bottom a i.fa-skype{
	color: #00AFF0;
}


#footer .footer-bottom a:hover i{
	color: #fff;
}


#footer .footer-bottom a.facebook:hover{
	color: #fff;
	background-color: #3b5998;
}

#footer .footer-bottom a.twitter:hover{
	color: #fff;
	background-color: #1da1f2;
}

#footer .footer-bottom a.linkedin:hover{
	color: #fff;
	background-color: #007bb5; 
}

#footer .footer-bottom a.skype:hover{
	color: #fff;
	background-color: #00aff0;
}


#footer i{
    margin-bottom: 1px;
    margin-right: 5px;
}

#footer .arrow {
    border: solid #2836f5;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

/*--------------------------------------------------
##contact us page
---------------------------------------------------*/
#breadcrumbs{
    margin-top: 70px;
    height: 5rem;
    background-color: var(--color);
}

section#contact-page{
    background-color: #f7f7f7;
    padding: 3rem 5rem;
}

#contact-page .col-md-10.contact-info {
    margin-bottom: 20px;
}

#contact-page .contact-content {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.05);
}

#contact-page .contact-info .col-md-4:first-child{
    padding-left: 0;
}

#contact-page .contact-info .col-md-4:last-child{
    padding-right: 0;
}

.location, .phone, .email {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

#contact-page .location i, #contact-page .phone i, #contact-page .email i {
    font-size: 45px;
    color: var(--color);
}

#contact-page .contact-info .col-md-4 strong{
    color: #2c4964;
    font-size: 22px;
    margin: 10px 0;
}

#contact-page .contact-info .col-md-4 p{
    margin-bottom: 0;
}


/*Scroll to top button styling*/
#topScrollBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color); /* Set a background color */
  color: white; /* Text color */
  padding: 5px 15px; /* Some padding */
  border-radius: 3px; /* Rounded corners */
  transition: display, background-color 0.5s ease-in-out;
}

#topScrollBtn:hover {
  background-color: var(--blue-hover); /* Add a dark-grey background on hover */
}

#topScrollBtn .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px; 
    margin-right: 0px;
}

#topScrollBtn i {
    margin-left: 1px;
    margin-top: 11px;
}



/*arrow key custom code*/
/*.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 13px;
}*/

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.btn-success{
	background-color: #3467eb;
	border: 1px solid #3467eb;
}

.btn-success:hover{
	background-color: #0738ab;
	border: 1px solid #0738ab;
}
.btn-success:focus{
	background-color: #3467eb !important;
	border: 1px solid #3467eb !important;
}



